{
    "openapi": "3.0.0",
    "info": {
        "title": "Motoshub API",
        "description": "Motoshub enterprise social network API — served by the iismobilesupport gateway. All endpoints accept multipart/form-data POST. Authenticated calls require the `access_token` field.",
        "contact": {
            "name": "Motoshub Backend Team"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://asanet.isti.ir",
            "description": "Production"
        },
        {
            "url": "http://localhost:8096",
            "description": "Local docker"
        }
    ],
    "paths": {
        "/mobile/services/information/user_blogs": {
            "post": {
                "tags": [
                    "blog"
                ],
                "summary": "user blogs",
                "operationId": "getUserblogs",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "user Id",
                        "required": false
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "first",
                        "required": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "user_blogs": [
                                                {
                                                    "id": "#id",
                                                    "title": "",
                                                    "userId": "#userId",
                                                    "commentable": true,
                                                    "removable": false,
                                                    "entityId": "#blogId",
                                                    "entityType": "blogs",
                                                    "rateInfo": "",
                                                    "ratable": "",
                                                    "editable": false,
                                                    "description": "",
                                                    "timestamp": "",
                                                    "flagAble": true,
                                                    "tags": [],
                                                    "files": [
                                                        {
                                                            "name": "",
                                                            "id": "",
                                                            "size": "",
                                                            "bundle": "",
                                                            "url": ""
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "user_blogs": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "user_blogs": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Guest Cant View": {
                                        "summary": "Guest Cant View",
                                        "value": {
                                            "user_blogs": {
                                                "valid": false,
                                                "message": "guest_cant_view"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/information/blog": {
            "post": {
                "tags": [
                    "blog"
                ],
                "summary": "blog",
                "operationId": "getBlog",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "blog Id",
                        "required": false
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "first",
                        "required": false
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "required": "false"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "blog": {
                                                "id": "#id",
                                                "title": "",
                                                "userId": "#userId",
                                                "commentable": true,
                                                "removable": false,
                                                "entityId": "#blogId",
                                                "entityType": "blogs",
                                                "rateInfo": "",
                                                "ratable": "",
                                                "editable": false,
                                                "description": "",
                                                "timestamp": "",
                                                "flagAble": true,
                                                "tags": [],
                                                "files": [
                                                    {
                                                        "name": "",
                                                        "id": "",
                                                        "size": "",
                                                        "bundle": "",
                                                        "url": ""
                                                    }
                                                ],
                                                "comments": [
                                                    {
                                                        "userId": "#userId",
                                                        "user": [],
                                                        "text": "",
                                                        "id": "#commentId",
                                                        "time": "",
                                                        "removable": false,
                                                        "entityType": "comment",
                                                        "likeInfo": "",
                                                        "entityId": "#commentId",
                                                        "flagAble": true,
                                                        "files": [
                                                            {
                                                                "name": "",
                                                                "id": "",
                                                                "size": "",
                                                                "bundle": "",
                                                                "url": ""
                                                            }
                                                        ],
                                                        "replyUserId": "",
                                                        "replyUser": "",
                                                        "replyId": "",
                                                        "replies": [],
                                                        "repliesCount": 10
                                                    }
                                                ]
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "blog": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "blog": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Empty Blog Id": {
                                        "summary": "Empty Blog Id",
                                        "value": {
                                            "blog": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Invalid Blog": {
                                        "summary": "Invalid Blog",
                                        "value": {
                                            "blog": {
                                                "valid": false,
                                                "message": "authorization_error",
                                                "id": "#blogId"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/information/latest_blogs": {
            "post": {
                "tags": [
                    "blog"
                ],
                "summary": "latest blogs",
                "operationId": "latestBlogs",
                "parameters": [
                    {
                        "name": "first",
                        "in": "query",
                        "description": "first",
                        "required": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "latest_blogs": [
                                                {
                                                    "id": "#id",
                                                    "title": "",
                                                    "userId": "#userId",
                                                    "commentable": true,
                                                    "removable": false,
                                                    "entityId": "#blogId",
                                                    "entityType": "blogs",
                                                    "rateInfo": "",
                                                    "ratable": "",
                                                    "editable": false,
                                                    "description": "",
                                                    "timestamp": "",
                                                    "flagAble": true,
                                                    "tags": [],
                                                    "files": [
                                                        {
                                                            "name": "",
                                                            "id": "",
                                                            "size": "",
                                                            "bundle": "",
                                                            "url": ""
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "latest_blogs": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "latest_blogs": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/add_blog": {
            "post": {
                "tags": [
                    "blog"
                ],
                "summary": "add blog",
                "operationId": "addBlog",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "required": "true",
                                        "type": "string"
                                    },
                                    "title": {
                                        "required": "true"
                                    },
                                    "description": {
                                        "required": "true"
                                    },
                                    "enSentNotification": {
                                        "required": "false"
                                    },
                                    "command": {
                                        "required": "false"
                                    },
                                    "tf": {
                                        "required": "false",
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "add_blog": {
                                                "valid": true,
                                                "blog": {
                                                    "id": "#id",
                                                    "title": "",
                                                    "userId": "#userId",
                                                    "commentable": true,
                                                    "removable": false,
                                                    "entityId": "#blogId",
                                                    "entityType": "blogs",
                                                    "rateInfo": "",
                                                    "ratable": "",
                                                    "editable": false,
                                                    "description": "",
                                                    "timestamp": "",
                                                    "flagAble": true,
                                                    "tags": [],
                                                    "files": [
                                                        {
                                                            "name": "",
                                                            "id": "",
                                                            "size": "",
                                                            "bundle": "",
                                                            "url": ""
                                                        }
                                                    ]
                                                },
                                                "virus_files": []
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "add_blog": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "add_blog": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/edit_blog": {
            "post": {
                "tags": [
                    "blog"
                ],
                "summary": "edit blog",
                "operationId": "editBlog",
                "parameters": [
                    {
                        "name": "blogId",
                        "in": "query",
                        "description": "blog Id",
                        "required": false
                    }
                ],
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "required": "true",
                                        "type": "string"
                                    },
                                    "title": {
                                        "required": "true"
                                    },
                                    "description": {
                                        "required": "true"
                                    },
                                    "enSentNotification": {
                                        "required": "false"
                                    },
                                    "command": {
                                        "required": "false"
                                    },
                                    "tf": {
                                        "required": "false",
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "edit_blog": {
                                                "valid": true,
                                                "blog": {
                                                    "id": "#id",
                                                    "title": "",
                                                    "userId": "#userId",
                                                    "commentable": true,
                                                    "removable": false,
                                                    "entityId": "#blogId",
                                                    "entityType": "blogs",
                                                    "rateInfo": "",
                                                    "ratable": "",
                                                    "editable": false,
                                                    "description": "",
                                                    "timestamp": "",
                                                    "flagAble": true,
                                                    "tags": [],
                                                    "files": [
                                                        {
                                                            "name": "",
                                                            "id": "",
                                                            "size": "",
                                                            "bundle": "",
                                                            "url": ""
                                                        }
                                                    ]
                                                },
                                                "virus_files": []
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "edit_blog": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "edit_blog": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Invalid Blog Id": {
                                        "summary": "Invalid Blog Id",
                                        "value": {
                                            "edit_blog": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Uneditable Blog": {
                                        "summary": "Uneditable Blog",
                                        "value": {
                                            "edit_blog": {
                                                "valid": false,
                                                "message": "blog_was_not_edited"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/remove_blog": {
            "post": {
                "tags": [
                    "blog"
                ],
                "summary": "remove blog",
                "operationId": "removeBlog",
                "parameters": [
                    {
                        "name": "blogId",
                        "in": "query",
                        "description": "blog Id",
                        "required": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "remove_blog": {
                                                "valid": true,
                                                "id": "#id"
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "remove_blog": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "remove_blog": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Invalid Blog Id": {
                                        "summary": "Invalid Blog Id",
                                        "value": {
                                            "remove_blog": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Unremoveable Blog": {
                                        "summary": "Unremoveable Blog",
                                        "value": {
                                            "remove_blog": {
                                                "valid": false,
                                                "message": "blog_was_not_deleted"
                                            }
                                        }
                                    },
                                    "Delete Blog Failed": {
                                        "summary": "Delete Blog Failed",
                                        "value": {
                                            "remove_blog": {
                                                "valid": false,
                                                "message": "blog_was_not_deleted"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/information/comments": {
            "post": {
                "tags": [
                    "comment"
                ],
                "summary": "get comments",
                "operationId": "getComments",
                "parameters": [
                    {
                        "name": "entityType",
                        "in": "query",
                        "description": "entity Type",
                        "required": true
                    },
                    {
                        "name": "entityId",
                        "in": "query",
                        "description": "entity Id",
                        "required": true
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "first",
                        "required": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "comments": [
                                                {
                                                    "userId": "#userId",
                                                    "user": [],
                                                    "text": "",
                                                    "id": "#commentId",
                                                    "time": "",
                                                    "removable": false,
                                                    "entityType": "comment",
                                                    "likeInfo": "",
                                                    "entityId": "#commentId",
                                                    "flagAble": true,
                                                    "files": [
                                                        {
                                                            "name": "",
                                                            "id": "",
                                                            "size": "",
                                                            "bundle": "",
                                                            "url": ""
                                                        }
                                                    ],
                                                    "replyUserId": "",
                                                    "replyUser": "",
                                                    "replyId": "",
                                                    "replies": [],
                                                    "repliesCount": 10
                                                }
                                            ]
                                        }
                                    },
                                    "Empty Entity Id": {
                                        "summary": "Empty Entity Id",
                                        "value": {
                                            "comments": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Empty Entity Type": {
                                        "summary": "Empty Entity Type",
                                        "value": {
                                            "comments": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "User Cant See": {
                                        "summary": "User Cant See",
                                        "value": {
                                            "comments": []
                                        }
                                    },
                                    "User Cant Access Group": {
                                        "summary": "User Cant Access Group",
                                        "value": {
                                            "comments": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/like_comment": {
            "post": {
                "tags": [
                    "comment"
                ],
                "summary": "like comment",
                "operationId": "likeComment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "comment Id",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "like_comment": {
                                                "valid": true,
                                                "message": "liked",
                                                "entityId": "#entityId",
                                                "entityType": "#entityType",
                                                "id": "#commentId"
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "like_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "like_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Empty Id": {
                                        "summary": "Empty Id",
                                        "value": {
                                            "like_comment": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Comment Not Found": {
                                        "summary": "Comment Not Found",
                                        "value": {
                                            "like_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Fail Operation": {
                                        "summary": "Fail Operation",
                                        "value": {
                                            "like_comment": {
                                                "valid": false,
                                                "message": "authorization_error",
                                                "entityType": "#entityType",
                                                "id": "#commentId"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/unlike_comment": {
            "post": {
                "tags": [
                    "comment"
                ],
                "summary": "unlike comment",
                "operationId": "unlikeComment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "comment Id",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "unlike_comment": {
                                                "valid": true,
                                                "message": "unliked",
                                                "entityId": "#entityId",
                                                "entityType": "#entityType",
                                                "id": "#commentId"
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "unlike_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "unlike_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Empty Id": {
                                        "summary": "Empty Id",
                                        "value": {
                                            "unlike_comment": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Comment Not Found": {
                                        "summary": "Comment Not Found",
                                        "value": {
                                            "unlike_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Fail Operation": {
                                        "summary": "Fail Operation",
                                        "value": {
                                            "unlike_comment": {
                                                "valid": false,
                                                "message": "authorization_error",
                                                "entityType": "#entityType",
                                                "id": "#commentId"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/add_comment": {
            "post": {
                "tags": [
                    "comment"
                ],
                "summary": "add comment",
                "operationId": "addComment",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "required": "true",
                                        "type": "string"
                                    },
                                    "entityId": {
                                        "required": "true"
                                    },
                                    "entityType": {
                                        "required": "true"
                                    },
                                    "pluginKey": {
                                        "required": "true"
                                    },
                                    "text": {
                                        "required": "true"
                                    },
                                    "file": {
                                        "required": "false",
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "replyId": {
                                        "required": "false"
                                    },
                                    "replyUserId": {
                                        "required": "false"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "add_comment": {
                                                "valid": true,
                                                "message": "added",
                                                "item": {
                                                    "userId": "#userId",
                                                    "user": [],
                                                    "text": "",
                                                    "id": "#commentId",
                                                    "time": "",
                                                    "removable": false,
                                                    "entityType": "comment",
                                                    "likeInfo": "",
                                                    "entityId": "#commentId",
                                                    "flagAble": true,
                                                    "files": [
                                                        {
                                                            "name": "",
                                                            "id": "",
                                                            "size": "",
                                                            "bundle": "",
                                                            "url": ""
                                                        }
                                                    ],
                                                    "replyUserId": "",
                                                    "replyUser": "",
                                                    "replyId": "",
                                                    "replies": [],
                                                    "repliesCount": 10
                                                },
                                                "virus_files": [],
                                                "fileValid": false
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "add_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Empty Entity Type": {
                                        "summary": "Empty Entity Type",
                                        "value": {
                                            "add_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Empty Entity Id": {
                                        "summary": "Empty Entity Id",
                                        "value": {
                                            "add_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Empty Text": {
                                        "summary": "Empty Text",
                                        "value": {
                                            "add_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Invalid Plugin Key": {
                                        "summary": "Invalid Plugin Key",
                                        "value": {
                                            "add_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Invalid Entity Type": {
                                        "summary": "Invalid Entity Type",
                                        "value": {
                                            "add_comment": {
                                                "valid": false,
                                                "message": "authorization_error",
                                                "entityType": "#entityType",
                                                "entityId": "#entityId"
                                            }
                                        }
                                    },
                                    "Access Denied": {
                                        "summary": "Access Denied",
                                        "value": {
                                            "add_comment": {
                                                "valid": false,
                                                "message": "authorization_error",
                                                "entityType": "#entityType",
                                                "entityId": "#entityId"
                                            }
                                        }
                                    },
                                    "Fail Operation": {
                                        "summary": "Fail Operation",
                                        "value": {
                                            "add_comment": {
                                                "valid": false,
                                                "message": "authorization_error",
                                                "entityType": "#entityType",
                                                "entityId": "#entityId"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/remove_comment": {
            "post": {
                "tags": [
                    "comment"
                ],
                "summary": "remove comment",
                "operationId": "removeComment",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "required": "true",
                                        "type": "string"
                                    },
                                    "id": {
                                        "required": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "remove_comment": {
                                                "valid": true,
                                                "message": "deleted",
                                                "id": "#id"
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "remove_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Empty Id": {
                                        "summary": "Empty Id",
                                        "value": {
                                            "remove_comment": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Fail Operation": {
                                        "summary": "Fail Operation",
                                        "value": {
                                            "remove_comment": {
                                                "valid": false,
                                                "message": "authorization_error",
                                                "entityType": "#entityType",
                                                "entityId": "#entityId"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/contact_us": {
            "post": {
                "tags": [
                    "contact us"
                ],
                "summary": "contact us",
                "operationId": "contactUs",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "properties": {
                                    "access_token": {
                                        "required": "true",
                                        "type": "string"
                                    },
                                    "subject": {
                                        "required": "true"
                                    },
                                    "message": {
                                        "required": "true"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "contact_us": {
                                                "valid": true
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "contact_us": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "contact_us": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Empty Subject": {
                                        "summary": "Empty Subject",
                                        "value": {
                                            "contact_us": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Empty Message": {
                                        "summary": "Empty Message",
                                        "value": {
                                            "contact_us": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/leave_event": {
            "post": {
                "tags": [
                    "event"
                ],
                "summary": "leave event",
                "operationId": "leaveEvent",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "query",
                        "description": "event Id",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "leave_event": {
                                                "valid": true,
                                                "deleted": true,
                                                "event": {
                                                    "id": 4,
                                                    "title": "",
                                                    "entityId": "#eventId",
                                                    "entityType": "event",
                                                    "can_add_file": true,
                                                    "can_delete_file": false,
                                                    "description": "#description",
                                                    "can_invite_user": false,
                                                    "location": "#location",
                                                    "user": [],
                                                    "status": "",
                                                    "startTimeStamp": "",
                                                    "endTimeStamp": "",
                                                    "createTimeStamp": "",
                                                    "whoCanView": false,
                                                    "whoCanInvite": true,
                                                    "start_time": "",
                                                    "start_date": "",
                                                    "end_date_flag": false,
                                                    "registered": true,
                                                    "registrable": false,
                                                    "end_time": "",
                                                    "end_date": "",
                                                    "imageUrl": "#url",
                                                    "imageInfo": [],
                                                    "emptyImage": "#url",
                                                    "categoryValue": "",
                                                    "categoryStatus": "",
                                                    "editable": false,
                                                    "flagAble": true,
                                                    "repeatPeriod": "",
                                                    "comments": [
                                                        []
                                                    ],
                                                    "users": [
                                                        []
                                                    ],
                                                    "files": [
                                                        []
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "leave_event": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "leave_event": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Empty Event Id": {
                                        "summary": "Empty Event Id",
                                        "value": {
                                            "leave_event": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Invalid Event": {
                                        "summary": "Invalid Event",
                                        "value": {
                                            "leave_event": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/event_accept_invite": {
            "post": {
                "tags": [
                    "event"
                ],
                "summary": "accpet event",
                "operationId": "acceptInvite",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "query",
                        "description": "event Id",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "event_accept_invite": {
                                                "valid": true,
                                                "id": "#id"
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "event_accept_invite": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "event_accept_invite": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Empty Event Id": {
                                        "summary": "Empty Event Id",
                                        "value": {
                                            "event_accept_invite": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Invalid Event": {
                                        "summary": "Invalid Event",
                                        "value": {
                                            "event_accept_invite": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/event_cancel_invite": {
            "post": {
                "tags": [
                    "event"
                ],
                "summary": "cancel event",
                "operationId": "cancelInvite",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "query",
                        "description": "event Id",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "event_cancel_invite": {
                                                "valid": true,
                                                "id": "#id"
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "event_cancel_invite": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "event_cancel_invite": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Empty Event Id": {
                                        "summary": "Empty Event Id",
                                        "value": {
                                            "event_cancel_invite": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Invalid Event": {
                                        "summary": "Invalid Event",
                                        "value": {
                                            "event_cancel_invite": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/event_invite_user": {
            "post": {
                "tags": [
                    "event"
                ],
                "summary": "invit event",
                "operationId": "inviteUser",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "query",
                        "description": "event Id",
                        "required": true
                    },
                    {
                        "name": "userId",
                        "in": "query",
                        "description": "user Id",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "event_invite_user": {
                                                "valid": true,
                                                "id": "#id"
                                            }
                                        }
                                    },
                                    "User Added Before": {
                                        "summary": "User Added Before",
                                        "value": {
                                            "event_invite_user": {
                                                "valid": true,
                                                "message": "user_added_before"
                                            }
                                        }
                                    },
                                    "Invite Send Before": {
                                        "summary": "Invite Send Before",
                                        "value": {
                                            "sent_before": {
                                                "valid": true,
                                                "message": "user_added_before"
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "event_invite_user": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "event_invite_user": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Empty Event Id": {
                                        "summary": "Empty Event Id",
                                        "value": {
                                            "event_invite_user": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Empty User Id": {
                                        "summary": "Empty User Id",
                                        "value": {
                                            "event_invite_user": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Invalid Event": {
                                        "summary": "Invalid Event",
                                        "value": {
                                            "event_invite_user": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/action/join_event": {
            "post": {
                "tags": [
                    "event"
                ],
                "summary": "join Event",
                "operationId": "joinEvent",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "query",
                        "description": "event Id",
                        "required": true
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
                                        "summary": "Success",
                                        "value": {
                                            "join_event": {
                                                "valid": true,
                                                "message": "user_add",
                                                "event": {
                                                    "id": 4,
                                                    "title": "",
                                                    "entityId": "#eventId",
                                                    "entityType": "event",
                                                    "can_add_file": true,
                                                    "can_delete_file": false,
                                                    "description": "#description",
                                                    "can_invite_user": false,
                                                    "location": "#location",
                                                    "user": [],
                                                    "status": "",
                                                    "startTimeStamp": "",
                                                    "endTimeStamp": "",
                                                    "createTimeStamp": "",
                                                    "whoCanView": false,
                                                    "whoCanInvite": true,
                                                    "start_time": "",
                                                    "start_date": "",
                                                    "end_date_flag": false,
                                                    "registered": true,
                                                    "registrable": false,
                                                    "end_time": "",
                                                    "end_date": "",
                                                    "imageUrl": "#url",
                                                    "imageInfo": [],
                                                    "emptyImage": "#url",
                                                    "categoryValue": "",
                                                    "categoryStatus": "",
                                                    "editable": false,
                                                    "flagAble": true,
                                                    "repeatPeriod": "",
                                                    "comments": [
                                                        []
                                                    ],
                                                    "users": [
                                                        []
                                                    ],
                                                    "files": [
                                                        []
                                                    ]
                                                }
                                            }
                                        }
                                    },
                                    "Added Before": {
                                        "summary": "Added Before",
                                        "value": {
                                            "join_event": {
                                                "valid": true,
                                                "message": "add_before"
                                            }
                                        }
                                    },
                                    "Unauthorized": {
                                        "summary": "Unauthorized",
                                        "value": {
                                            "join_event": {
                                                "valid": false,
                                                "message": "authorization_error"
                                            }
                                        }
                                    },
                                    "Plugin Disabled": {
                                        "summary": "Plugin Disabled",
                                        "value": {
                                            "join_event": {
                                                "valid": false,
                                                "message": "plugin_not_found"
                                            }
                                        }
                                    },
                                    "Access Denied": {
                                        "summary": "Access Denied",
                                        "value": {
                                            "join_event": {
                                                "valid": false,
                                                "message": "guest_cant_view"
                                            }
                                        }
                                    },
                                    "Empty Event Id": {
                                        "summary": "Empty Event Id",
                                        "value": {
                                            "join_event": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    },
                                    "Invalid Event": {
                                        "summary": "Invalid Event",
                                        "value": {
                                            "join_event": {
                                                "valid": false,
                                                "message": "input_error"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/mobile/services/information/event_invite_list": {
            "post": {
                "tags": [
                    "event"
                ],
                "summary": "get Invitable Users",
                "operationId": "getInvitableUsers",
                "parameters": [
                    {
                        "name": "eventId",
                        "in": "query",
                        "description": "event Id",
                        "required": true
                    },
                    {
                        "name": "first",
                        "in": "query",
                        "description": "first",
                        "required": false
                    },
                    {
                        "name": "key",
                        "in": "query",
                        "description": "key",
                        "required": false
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "access_token"
                                ],
                                "properties": {
                                    "access_token": {
                                        "description": "User access token",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "Success": {
[...]
