{"openapi": "3.0.0", "info": {"title": "Motoshub API", "version": "1.0.0"}, "servers": [{"url": "https://motonext.shub.ir/api", "description": "Production"}, {"url": "http://localhost:8096/api", "description": "Local"}], "paths": {"/v1/auth/login": {"post": {"tags": ["Auth"], "summary": "ورود کاربر به سیستم", "operationId": "fe58548968f3176f7a01401f8b378b53", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoginRequest"}}}}, "responses": {"200": {"description": "ورود موفقیت‌آمیز و دریافت توکن JWT", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TokenResource"}}}}}}}, "/v1/auth/me": {"get": {"tags": ["Auth"], "summary": "دریافت اطلاعات کاربر جاری", "operationId": "71748bf9cd51b61441cb06b588802e1b", "responses": {"200": {"description": "اطلاعات کاربر با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserResource"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/auth/permissions": {"get": {"tags": ["Auth"], "summary": "دریافت دسترسی های کاربر جاری", "operationId": "6863d45988a453d006617c5295fee34f", "responses": {"200": []}, "security": [{"bearerAuth": []}]}}, "/v1/users/me/avatar": {"post": {"tags": ["Avatar"], "summary": "تغییر آواتار کاربر جاری (آپلود multipart)", "operationId": "2e93e0197c220859d1fce31bf77d5ae3", "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/AvatarUpdateRequest"}}}}, "responses": {"200": {"description": "آواتار با موفقیت تغییر کرد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/AvatarResource"}}, "type": "object"}]}}}}, "422": {"description": "فایل تصویر معتبر نیست"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Avatar"], "summary": "حذف آواتار کاربر جاری", "operationId": "0e9e3be28373fe36861abdf242cebff5", "responses": {"200": {"description": "آواتار با موفقیت حذف شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/AvatarResource"}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/contact": {"post": {"tags": ["Contact"], "summary": "ارسال پیام تماس با ما از طرف کاربر جاری", "operationId": "ceaa39ed1bf50df9f279c8c982bcde2f", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ContactSendRequest"}}}}, "responses": {"201": {"description": "پیام با موفقیت ارسال شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/ContactMessageResource"}}, "type": "object"}]}}}}, "404": {"description": "پلاگین تماس با ما فعال نیست"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/files": {"post": {"tags": ["Files"], "summary": "بارگذاری یک فایل به صورت پیوست (multipart)", "operationId": "a87fc5c48916fe019c5b416e20611f07", "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/FileStoreRequest"}}}}, "responses": {"201": {"description": "فایل با موفقیت بارگذاری شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/FileResource"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی فایل با خطا مواجه شد (پسوند/حجم/ویروس)"}}, "security": [{"bearerAuth": []}]}}, "/v1/files/config": {"get": {"tags": ["Files"], "summary": "دریافت پسوندهای مجاز و حداکثر حجم فایل برای اعتبارسنجی سمت کلاینت", "operationId": "fd258f63f74e1fe36cd3a858dd3aa84f", "responses": {"200": {"description": "تنظیمات بارگذاری فایل", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"properties": {"valid_extensions": {"type": "string", "example": "jpg,jpeg,png,gif,pdf"}, "extensions": {"type": "array", "items": {"type": "string"}, "example": ["jpg", "jpeg", "png", "gif", "pdf"]}, "max_upload_size_mb": {"type": "integer", "example": 32}}, "type": "object"}}, "type": "object"}]}}}}}}}, "/v1/files/{uid}": {"get": {"tags": ["Files"], "summary": "دریافت اطلاعات یک پیوست بر اساس شناسه بسته (bundle)", "operationId": "1bceeb61f70fd6369eb286c84e520b9c", "parameters": [{"name": "uid", "in": "path", "description": "شناسه بسته (bundle) پیوست", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "اطلاعات پیوست", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/FileResource"}}, "type": "object"}]}}}}, "403": {"description": "پیوست متعلق به کاربر جاری نیست"}, "404": {"description": "پیوست مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/flags": {"post": {"tags": ["Flags"], "summary": "گزارش (فلگ) یک محتوا توسط کاربر جاری", "operationId": "eceed2285bbe713c24a54a309b6f21c8", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FlagStoreRequest"}}}}, "responses": {"201": {"description": "گزارش با موفقیت ثبت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/FlagResource"}}, "type": "object"}]}}}}, "404": {"description": "محتوای مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/users/me/sessions": {"get": {"tags": ["Sessions"], "summary": "دریافت تاریخچه ورود و سشن‌های فعال کاربر جاری", "operationId": "f827f0db8ed952dc61c1d805edaf1f3c", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}], "responses": {"200": {"description": "سشن‌های کاربر با موفقیت دریافت شد", "content": {"application/json": {"schema": {"properties": {"data": {"properties": {"logins": {"type": "array", "items": {"$ref": "#/components/schemas/LoginRecordResource"}}, "sessions": {"type": "array", "items": {"$ref": "#/components/schemas/SessionResource"}}}, "type": "object"}}, "type": "object"}}}}, "404": {"description": "پلاگین iisuserlogin فعال نیست"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Sessions"], "summary": "خاتمه دادن به تمام سشن‌های دیگر کاربر جاری", "operationId": "7c4ce96cb6afb0591152d4f7839d095c", "responses": {"200": {"description": "تمام سشن‌های دیگر با موفقیت خاتمه یافتند", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "پلاگین iisuserlogin فعال نیست"}}, "security": [{"bearerAuth": []}]}}, "/v1/users/me/sessions/{id}": {"delete": {"tags": ["Sessions"], "summary": "خاتمه دادن به یک سشن کاربر جاری", "operationId": "738d1ba61b92a549ad1a9db5063f79e0", "parameters": [{"name": "id", "in": "path", "description": "شناسه سشن جهت خاتمه", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "سشن با موفقیت خاتمه یافت", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "سشن مورد نظر یافت نشد یا پلاگین iisuserlogin فعال نیست"}, "422": {"description": "سشن جاری قابل خاتمه نیست"}}, "security": [{"bearerAuth": []}]}}, "/v1/users/blocked": {"get": {"tags": ["User Blocks"], "summary": "دریافت لیست کاربران بلاک‌شده توسط کاربر جاری", "operationId": "6362631c89d5b25d0b67be03d110d2e1", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}], "responses": {"200": {"description": "لیست کاربران بلاک‌شده با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/BlockedUserResource"}}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/users/{id}/block": {"post": {"tags": ["User Blocks"], "summary": "بلاک کردن یک کاربر توسط کاربر جاری", "operationId": "92f8b2e9c92b078c928864f2be92f9f5", "parameters": [{"name": "id", "in": "path", "description": "شناسه کاربر جهت بلاک", "required": true, "schema": {"type": "integer"}}], "responses": {"201": {"description": "کاربر با موفقیت بلاک شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/UserBlockResource"}}, "type": "object"}]}}}}, "404": {"description": "کاربر مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["User Blocks"], "summary": "آنبلاک کردن یک کاربر توسط کاربر جاری", "operationId": "3229dad1296c81cf943b44ca925a95e9", "parameters": [{"name": "id", "in": "path", "description": "شناسه کاربر جهت آنبلاک", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "کاربر با موفقیت آنبلاک شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/UserBlockResource"}}, "type": "object"}]}}}}, "404": {"description": "کاربر مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/users": {"get": {"tags": ["Users"], "summary": "دریافت لیست کاربران (به همراه صفحه‌بندی و جستجو)", "operationId": "d84507538bb67d78a04259eb60bc0087", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}], "responses": {"200": {"description": "لیست کاربران با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/UserResource"}}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/users/{id}": {"get": {"tags": ["Users"], "summary": "دریافت پروفایل کامل یک کاربر (به همراه سوالات پروفایل)", "operationId": "71735ba615905afb5b8da3faeaa3336f", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد کاربر", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "پروفایل کاربر با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserProfileResource"}}}}, "404": {"description": "کاربر مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/users/me": {"patch": {"tags": ["Users"], "summary": "ویرایش فیلدهای پروفایل کاربر جاری", "operationId": "4e0792f457196238ac92dd199043b032", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/UserUpdateRequest"}}}}, "responses": {"200": {"description": "پروفایل با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/UserProfileResource"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/users/{id}/follow": {"post": {"tags": ["User Follows"], "summary": "دنبال کردن یک کاربر توسط کاربر جاری", "operationId": "d5adc40ddb58f86e3f1794acd36dbeb9", "parameters": [{"name": "id", "in": "path", "description": "شناسه کاربر جهت دنبال کردن", "required": true, "schema": {"type": "integer"}}], "responses": {"201": {"description": "کاربر با موفقیت دنبال شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/UserFollowResource"}}, "type": "object"}]}}}}, "403": {"description": "این کاربر قابل دنبال کردن نیست"}, "404": {"description": "کاربر مورد نظر یافت نشد یا پلاگین newsfeed فعال نیست"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["User Follows"], "summary": "لغو دنبال کردن یک کاربر توسط کاربر جاری", "operationId": "9d2f39f4e0e24ee7634f979e4d54e348", "parameters": [{"name": "id", "in": "path", "description": "شناسه کاربر جهت لغو دنبال کردن", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "دنبال کردن کاربر با موفقیت لغو شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/UserFollowResource"}}, "type": "object"}]}}}}, "403": {"description": "این کاربر قابل دنبال کردن نیست"}, "404": {"description": "کاربر مورد نظر یافت نشد یا پلاگین newsfeed فعال نیست"}}, "security": [{"bearerAuth": []}]}}, "/v1/blogs": {"get": {"tags": ["Blogs"], "summary": "دریافت لیست وبلاگ‌ها (به همراه صفحه‌بندی)", "operationId": "11fd37f777a0ebf94771d2121c61e9ff", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/blogListAuthorUsername"}, {"$ref": "#/components/parameters/blogListSortByCreatedAt"}], "responses": {"200": {"description": "لیست وبلاگ‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/BlogResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["Blogs"], "summary": "ایجاد وبلاگ جدید", "operationId": "63d6bc411313d06e4941c0b3b4b4dcdf", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlogStoreRequest"}}}}, "responses": {"201": {"description": "وبلاگ با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "وبلاگ با موفقیت ایجاد شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/blogs/{id}": {"get": {"tags": ["Blogs"], "summary": "دریافت اطلاعات یک وبلاگ خاص", "operationId": "bcd0fd2d10bea6cfd492eb45a207375c", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد وبلاگ", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات وبلاگ با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlogResource"}}}}, "404": {"description": "وبلاگ مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "delete": {"tags": ["Blogs"], "summary": "حذف کامل وبلاگ", "operationId": "9136794c91d888390349c6bd958f8b45", "parameters": [{"name": "id", "in": "path", "description": "شناسه وبلاگ جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "وبلاگ با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "وبلاگ مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Blogs"], "summary": "ویرایش اطلاعات وبلاگ", "operationId": "b8d2d1b6e1e4e4bdc761edba393e011e", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد وبلاگ جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/BlogUpdateRequest"}}}}, "responses": {"200": {"description": "وبلاگ با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "وبلاگ مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/news": {"get": {"tags": ["News"], "summary": "دریافت لیست اخبار", "operationId": "a19b90e773f0914532ba350c30bc530d", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/newsListAuthorUsername"}, {"$ref": "#/components/parameters/newsListSortByCreatedAt"}], "responses": {"200": {"description": "لیست اخبار با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/NewsResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["News"], "summary": "ایجاد خبر جدید", "operationId": "c031060aeabca876a78bb030adc31603", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NewsStoreRequest"}}}}, "responses": {"201": {"description": "خبر با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "خبر با موفقیت ایجاد شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/news/{id}": {"get": {"tags": ["News"], "summary": "دریافت اطلاعات یک خبر خاص", "operationId": "447eb38e29f73d8cc6655cb4f91fa142", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد خبر", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات خبر با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NewsResource"}}}}, "404": {"description": "خبر مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "delete": {"tags": ["News"], "summary": "حذف کامل خبر", "operationId": "8a0ad208a148b1c546775f997d0e4127", "parameters": [{"name": "id", "in": "path", "description": "شناسه خبر جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "خبر با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "خبر مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["News"], "summary": "ویرایش اطلاعات خبر", "operationId": "8da1e056abc3df7cf45ada64beccd8dc", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد خبر جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NewsUpdateRequest"}}}}, "responses": {"200": {"description": "خبر با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "خبر مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/albums": {"get": {"tags": ["Albums"], "summary": "دریافت لیست آلبوم‌ها", "operationId": "c67c3495d5f11629c8b2b2a0f67d1c6f", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/albumListUserId"}, {"$ref": "#/components/parameters/albumListUserUsername"}, {"$ref": "#/components/parameters/albumListSortByCreatedAt"}], "responses": {"200": {"description": "لیست آلبوم‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/AlbumResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["Albums"], "summary": "ایجاد آلبوم جدید", "operationId": "a39cbae6fd8722bafc6b3a7816184128", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AlbumStoreRequest"}}}}, "responses": {"201": {"description": "آلبوم با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "آلبوم با موفقیت ایجاد شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/albums/{id}": {"get": {"tags": ["Albums"], "summary": "دریافت اطلاعات یک آلبوم خاص", "operationId": "a6324f40cf933e9fdda660ea2e802e00", "parameters": [{"name": "id", "in": "path", "description": "شناسه آلبوم", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات آلبوم با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AlbumResource"}}}}, "404": {"description": "آلبوم مورد نظر یافت نشد"}}}, "delete": {"tags": ["Albums"], "summary": "حذف کامل آلبوم", "operationId": "e80e797da5541ad82144c9100b6223af", "parameters": [{"name": "id", "in": "path", "description": "شناسه آلبوم", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "آلبوم با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "آلبوم مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Albums"], "summary": "ویرایش اطلاعات آلبوم", "operationId": "f8a2526d6f23144f39408b9d312e64a9", "parameters": [{"name": "id", "in": "path", "description": "شناسه آلبوم", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/AlbumUpdateRequest"}}}}, "responses": {"200": {"description": "آلبوم با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "آلبوم مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/albums/{id}/photos": {"get": {"tags": ["Albums"], "summary": "دریافت عکس‌های یک آلبوم", "operationId": "0589cacc4b9e4732f7ce0e7851cbc2b9", "parameters": [{"name": "id", "in": "path", "description": "شناسه آلبوم", "required": true, "schema": {"type": "integer"}}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}], "responses": {"200": {"description": "عکس‌های آلبوم با موفقیت دریافت شد", "content": {"application/json": {"schema": {"properties": {"success": {"type": "boolean", "example": true}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/PhotoResource"}}, "pagination": {"properties": {"current_page": {"type": "integer"}, "per_page": {"type": "integer"}, "total": {"type": "integer"}, "last_page": {"type": "integer"}}, "type": "object"}}, "type": "object"}}}}, "404": {"description": "آلبوم مورد نظر یافت نشد"}}}}, "/v1/photos": {"get": {"tags": ["Photos"], "summary": "دریافت لیست عکس‌ها", "operationId": "1326b3b624f33226c298a4c778335ae4", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/photoListAlbumId"}, {"$ref": "#/components/parameters/photoListUserId"}, {"$ref": "#/components/parameters/photoListUserUsername"}, {"$ref": "#/components/parameters/photoListSortByCreatedAt"}], "responses": {"200": {"description": "لیست عکس‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/PhotoResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["Photos"], "summary": "آپلود عکس جدید", "operationId": "8cef266cfd89cd14be4c70f76efcd57a", "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/PhotoStoreRequest"}}}}, "responses": {"201": {"description": "عکس با موفقیت آپلود شد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/photos/{id}": {"get": {"tags": ["Photos"], "summary": "دریافت اطلاعات یک عکس خاص", "operationId": "669d4d98c1fcbdd96aa4a4143814f70f", "parameters": [{"name": "id", "in": "path", "description": "شناسه عکس", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات عکس با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PhotoResource"}}}}, "404": {"description": "عکس مورد نظر یافت نشد"}}}, "delete": {"tags": ["Photos"], "summary": "حذف کامل عکس", "operationId": "f08f09243277aebeabbe0a52225a2ed0", "parameters": [{"name": "id", "in": "path", "description": "شناسه عکس", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "عکس با موفقیت حذف شد"}, "404": {"description": "عکس مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Photos"], "summary": "ویرایش اطلاعات عکس", "operationId": "31bbfa0e1e8cf254d39b3d011dc15900", "parameters": [{"name": "id", "in": "path", "description": "شناسه عکس", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PhotoUpdateRequest"}}}}, "responses": {"200": {"description": "عکس با موفقیت بروزرسانی شد"}, "404": {"description": "عکس مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/videos": {"get": {"tags": ["Videos"], "summary": "دریافت لیست ویدیوها (به همراه صفحه‌بندی)", "operationId": "0128eb54b22bc10b7e7683d0d4ae7ab0", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/videoListUserId"}, {"$ref": "#/components/parameters/videoListUserUsername"}, {"$ref": "#/components/parameters/videoListSortByCreatedAt"}], "responses": {"200": {"description": "لیست ویدیوها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/VideoResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["Videos"], "summary": "افزودن ویدیو جدید", "operationId": "2ee18c6ac81ec5a2113ea9bc4e672bf9", "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/VideoStoreRequest"}}}}, "responses": {"201": {"description": "ویدیو با موفقیت افزوده شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "ویدیو با موفقیت افزوده شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/videos/{id}": {"get": {"tags": ["Videos"], "summary": "دریافت اطلاعات یک ویدیو خاص", "operationId": "deee682c483dcd9195b7f68e4f43882c", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد ویدیو", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات ویدیو با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VideoResource"}}}}, "404": {"description": "ویدیو مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "delete": {"tags": ["Videos"], "summary": "حذف کامل ویدیو", "operationId": "965cf9cb7d534edab56781c1ad318759", "parameters": [{"name": "id", "in": "path", "description": "شناسه ویدیو جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "ویدیو با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "ویدیو مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Videos"], "summary": "ویرایش اطلاعات ویدیو", "operationId": "29467a68da439f7d7158a1413a44afb3", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد ویدیو جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/VideoUpdateRequest"}}}}, "responses": {"200": {"description": "ویدیو با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "ویدیو مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/events": {"get": {"tags": ["Events"], "summary": "دریافت لیست رویدادها (به همراه صفحه‌بندی)", "operationId": "f76c0a3b8a7535a564920d30e022a2a1", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/eventListUserUsername"}, {"$ref": "#/components/parameters/eventListSortByCreatedAt"}], "responses": {"200": {"description": "لیست رویدادها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/EventResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["Events"], "summary": "ایجاد رویداد جدید", "operationId": "b2a692ea598ef28cb217e97376a3858a", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventStoreRequest"}}}}, "responses": {"201": {"description": "رویداد با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "رویداد با موفقیت ایجاد شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/events/{id}": {"get": {"tags": ["Events"], "summary": "دریافت اطلاعات یک رویداد خاص", "operationId": "91f2fac2abc681c4a7288949994591ac", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد رویداد", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات رویداد با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventResource"}}}}, "404": {"description": "رویداد مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "delete": {"tags": ["Events"], "summary": "حذف کامل رویداد", "operationId": "ef7b6cfccde87994b6f976ac8b3bdf7f", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "رویداد با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "رویداد مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Events"], "summary": "ویرایش اطلاعات رویداد", "operationId": "eeb2ff31824ea5271e32fe07ae8b6a19", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد رویداد جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventUpdateRequest"}}}}, "responses": {"200": {"description": "رویداد با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "رویداد مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/events/{id}/join": {"post": {"tags": ["Events"], "summary": "عضویت در رویداد", "operationId": "233be87c52e1607da76c57f0033e76bf", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "عضویت با موفقیت انجام شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "رویداد فقط با دعوت قابل عضویت است", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "404": {"description": "رویداد یافت نشد"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Events"], "summary": "خروج از رویداد (مالک = حذف کل رویداد)", "operationId": "fbd302227dbe482a246c65e84ebbf742", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "خروج با موفقیت انجام شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "شما عضو این رویداد نیستید"}, "404": {"description": "رویداد یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/events/{id}/attendance": {"patch": {"tags": ["Events"], "summary": "تغییر وضعیت حضور در رویداد", "operationId": "a15f6f793d8c161886d1fbb3be3e8686", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventAttendanceRequest"}}}}, "responses": {"200": {"description": "وضعیت حضور تغییر کرد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "شما عضو این رویداد نیستید"}, "422": {"description": "وضعیت نامعتبر"}}, "security": [{"bearerAuth": []}]}}, "/v1/events/{id}/invitable-users": {"get": {"tags": ["Events"], "summary": "لیست کاربران قابل‌دعوت به رویداد", "operationId": "dba35017eec5b520386a22986a073bc4", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}], "responses": {"200": {"description": "لیست کاربران قابل‌دعوت", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "شما عضو این رویداد نیستید"}}, "security": [{"bearerAuth": []}]}}, "/v1/events/{id}/invites": {"post": {"tags": ["Events"], "summary": "دعوت کاربر به رویداد", "operationId": "4fba64d2703a051907407c79c810dc93", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EventInviteStoreRequest"}}}}, "responses": {"200": {"description": "دعوت ارسال شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "اجازه دعوت ندارید / فقط دوستان قابل دعوت‌اند"}, "404": {"description": "رویداد یافت نشد"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Events"], "summary": "رد/لغو دعوت رویداد برای کاربر جاری", "operationId": "21834b67e928a8a6fdd036052a1891eb", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "دعوت لغو شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "دعوتی برای شما یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/events/{id}/invites/accept": {"post": {"tags": ["Events"], "summary": "پذیرش دعوت رویداد", "operationId": "3e34508965ee1f311ecaa60b4e475f06", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "دعوت پذیرفته شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "دعوتی برای شما یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/events/{id}/files": {"post": {"tags": ["Events"], "summary": "افزودن فایل به رویداد (multipart)", "operationId": "e19bd302ac992d1ec668658760a009d1", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"$ref": "#/components/schemas/EventFileStoreRequest"}}}}, "responses": {"200": {"description": "فایل اضافه شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "اجازه افزودن فایل ندارید / فایل آلوده است"}}, "security": [{"bearerAuth": []}]}}, "/v1/events/{id}/files/{fileId}": {"delete": {"tags": ["Events"], "summary": "حذف فایل رویداد", "operationId": "caeba7a40f2b779f3d6594078a4681eb", "parameters": [{"name": "id", "in": "path", "description": "شناسه رویداد", "required": true, "schema": {"type": "integer"}}, {"name": "fileId", "in": "path", "description": "شناسه فایل پیوست", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "فایل حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "اجازه حذف فایل ندارید"}}, "security": [{"bearerAuth": []}]}}, "/v1/friends": {"get": {"tags": ["Friends"], "summary": "دریافت لیست دوستان کاربر جاری (به همراه صفحه‌بندی)", "operationId": "023e1f4d997ef81d5d6ae85e4ca0bbbf", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/friendListSortByCreatedAt"}], "responses": {"200": {"description": "لیست دوستان با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/FriendResource"}}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}, "post": {"tags": ["Friends"], "summary": "ارسال درخواست دوستی", "operationId": "83d859e13c99280fc95d5bf1b22a9e71", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FriendStoreRequest"}}}}, "responses": {"201": {"description": "درخواست دوستی با موفقیت ارسال شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "درخواست دوستی با موفقیت ارسال شد"}}, "type": "object"}]}}}}, "403": {"description": "امکان ارسال درخواست دوستی وجود ندارد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/friends/requests": {"get": {"tags": ["Friends"], "summary": "دریافت لیست درخواست‌های دوستی دریافتی کاربر جاری", "operationId": "aaa0736a923c995049553277fcb37d74", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/friendListSortByCreatedAt"}], "responses": {"200": {"description": "لیست درخواست‌های دوستی با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/FriendResource"}}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/friends/{id}/accept": {"post": {"tags": ["Friends"], "summary": "تایید درخواست دوستی دریافتی", "operationId": "d32d2044baf7cc136ae75a65c8ce75bd", "parameters": [{"name": "id", "in": "path", "description": "شناسه کاربری که درخواست دوستی ارسال کرده است", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "درخواست دوستی با موفقیت تایید شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "درخواست دوستی مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/friends/{id}": {"delete": {"tags": ["Friends"], "summary": "حذف دوست یا لغو/رد درخواست دوستی", "operationId": "0bdbeefca3984ebc82fd33db12f499eb", "parameters": [{"name": "id", "in": "path", "description": "شناسه کاربر مقابل (دوست یا فرستنده/گیرنده درخواست)", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "عملیات با موفقیت انجام شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "رابطه دوستی مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/notifications": {"get": {"tags": ["Notifications"], "summary": "دریافت لیست اعلان‌های کاربر جاری (به همراه صفحه‌بندی)", "operationId": "7a8032b2262bf3cfe6731525a7d40c6d", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/notificationListViewed"}, {"$ref": "#/components/parameters/notificationListPluginKey"}, {"$ref": "#/components/parameters/notificationListSortByCreatedAt"}], "responses": {"200": {"description": "لیست اعلان‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/NotificationResource"}}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/notifications/seen": {"post": {"tags": ["Notifications"], "summary": "علامت‌گذاری همه اعلان‌های کاربر جاری به عنوان دیده‌شده", "operationId": "1b46d7234223f5e79f3d4ad717f8fbe4", "responses": {"200": {"description": "اعلان‌ها به عنوان دیده‌شده علامت‌گذاری شدند", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/notifications/{id}/read": {"post": {"tags": ["Notifications"], "summary": "علامت‌گذاری یک اعلان مشخص به عنوان خوانده‌شده", "operationId": "7a1badcabdfd7369f59f57aeea54400d", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد اعلان", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اعلان به عنوان خوانده‌شده علامت‌گذاری شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "اعلان مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/notifications/settings": {"get": {"tags": ["Notifications"], "summary": "دریافت تنظیمات اعلان‌های کاربر جاری", "operationId": "34339e7f66e1d2492d02d16f3e755245", "responses": {"200": {"description": "تنظیمات اعلان‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Notifications"], "summary": "بروزرسانی تنظیمات اعلان‌های کاربر جاری", "operationId": "a44fb81984914fb8b3ff8ff3032ada15", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/NotificationSettingsRequest"}}}}, "responses": {"200": {"description": "تنظیمات اعلان‌ها با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/forum/topics/{topicId}/posts": {"get": {"tags": ["Forum"], "summary": "دریافت لیست پاسخ‌های یک موضوع (به همراه صفحه‌بندی)", "operationId": "b54a741c98fdbe533e17a001e8f5016b", "parameters": [{"name": "topicId", "in": "path", "description": "شناسه منحصربفرد موضوع", "required": true, "schema": {"type": "integer"}}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/postListSortByCreatedAt"}], "responses": {"200": {"description": "لیست پاسخ‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/PostResource"}}}, "type": "object"}]}}}}, "404": {"description": "موضوع مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "post": {"tags": ["Forum"], "summary": "ارسال پاسخ جدید در یک موضوع", "operationId": "82bacab8c6978bda2cd78557f1285276", "parameters": [{"name": "topicId", "in": "path", "description": "شناسه منحصربفرد موضوع", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PostStoreRequest"}}}}, "responses": {"201": {"description": "پاسخ با موفقیت ارسال شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "پاسخ با موفقیت ارسال شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/forum/posts/{id}": {"delete": {"tags": ["Forum"], "summary": "حذف یک پاسخ", "operationId": "6c402e42af2faa9629cc43ddc8b0894a", "parameters": [{"name": "id", "in": "path", "description": "شناسه پاسخ جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "پاسخ با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "پاسخ مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Forum"], "summary": "ویرایش یک پاسخ", "operationId": "9fcac5c0f0f984a0e5c2a2e1ca5481bb", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد پاسخ جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PostUpdateRequest"}}}}, "responses": {"200": {"description": "پاسخ با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "پاسخ مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/forum/topics": {"get": {"tags": ["Forum"], "summary": "دریافت لیست موضوعات انجمن (به همراه صفحه‌بندی)", "operationId": "714d26ba33af3412718f585e3870f50c", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/topicListGroupId"}, {"$ref": "#/components/parameters/topicListUserUsername"}, {"$ref": "#/components/parameters/topicListSortByCreatedAt"}], "responses": {"200": {"description": "لیست موضوعات با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/TopicResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["Forum"], "summary": "ایجاد موضوع جدید", "operationId": "0001cebacab7047476725c62281ea3b1", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TopicStoreRequest"}}}}, "responses": {"201": {"description": "موضوع با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "موضوع با موفقیت ایجاد شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/forum/topics/{id}": {"get": {"tags": ["Forum"], "summary": "دریافت اطلاعات یک موضوع خاص", "operationId": "b450d3a37744f32b1800d2f29722b6b6", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد موضوع", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات موضوع با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TopicResource"}}}}, "404": {"description": "موضوع مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "delete": {"tags": ["Forum"], "summary": "حذف کامل موضوع", "operationId": "2f05fe0b46279d28bb867d758ce78587", "parameters": [{"name": "id", "in": "path", "description": "شناسه موضوع جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "موضوع با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "موضوع مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Forum"], "summary": "ویرایش اطلاعات موضوع", "operationId": "ec33972f102ada3b8fc6233eb08361f2", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد موضوع جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/TopicUpdateRequest"}}}}, "responses": {"200": {"description": "موضوع با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "موضوع مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/forum/topics/{id}/lock": {"post": {"tags": ["Forum"], "summary": "قفل کردن موضوع", "operationId": "dff1f73b5a14822764903bdba7d5ea15", "parameters": [{"name": "id", "in": "path", "description": "شناسه موضوع جهت قفل کردن", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "موضوع با موفقیت قفل شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "موضوع مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/forum/topics/{id}/unlock": {"post": {"tags": ["Forum"], "summary": "باز کردن قفل موضوع", "operationId": "2bb75fd34e6712fed68e6807a54200c8", "parameters": [{"name": "id", "in": "path", "description": "شناسه موضوع جهت باز کردن قفل", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "قفل موضوع با موفقیت باز شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "موضوع مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/polls": {"get": {"tags": ["Polls"], "summary": "دریافت لیست نظرسنجی‌ها (به همراه صفحه‌بندی)", "operationId": "2137862737fe1ed8140622bbbe636389", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/pollListOwnerUsername"}, {"$ref": "#/components/parameters/pollListSortByCreatedAt"}], "responses": {"200": {"description": "لیست نظرسنجی‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/PollResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["Polls"], "summary": "ایجاد نظرسنجی جدید", "operationId": "b487ad01e0f408bcf9afb2ca1741d009", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PollStoreRequest"}}}}, "responses": {"201": {"description": "نظرسنجی با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "نظرسنجی با موفقیت ایجاد شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/polls/{id}": {"get": {"tags": ["Polls"], "summary": "دریافت اطلاعات یک نظرسنجی خاص", "operationId": "1f20f31ff8b182dc05cf1a9c91680433", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد نظرسنجی", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات نظرسنجی با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PollResource"}}}}, "404": {"description": "نظرسنجی مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "delete": {"tags": ["Polls"], "summary": "حذف کامل نظرسنجی", "operationId": "6c4cb71ad3849c65deba46a7b8dd1a4f", "parameters": [{"name": "id", "in": "path", "description": "شناسه نظرسنجی جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "نظرسنجی با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "نظرسنجی مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Polls"], "summary": "ویرایش تنظیمات نظرسنجی", "operationId": "326c32981bab059a500f6f13c99e0b2c", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد نظرسنجی جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PollUpdateRequest"}}}}, "responses": {"200": {"description": "نظرسنجی با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "نظرسنجی مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/polls/{id}/vote": {"post": {"tags": ["Polls"], "summary": "ثبت یا حذف رأی برای یک گزینه نظرسنجی", "operationId": "65487855d9d0b15c1abcb61beee788a4", "parameters": [{"name": "id", "in": "path", "description": "شناسه نظرسنجی", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PollVoteRequest"}}}}, "responses": {"200": {"description": "رأی با موفقیت ثبت/حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گزینه یا نظرسنجی مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/comments": {"get": {"tags": ["Comments"], "summary": "دریافت لیست نظرات یک محتوا (به همراه صفحه‌بندی)", "operationId": "ecaf31495a36fcd08d4bc28975ae07ef", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/commentListEntityType"}, {"$ref": "#/components/parameters/commentListEntityId"}, {"$ref": "#/components/parameters/commentListSortByCreatedAt"}], "responses": {"200": {"description": "لیست نظرات با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/CommentResource"}}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}, "post": {"tags": ["Comments"], "summary": "ثبت نظر جدید روی یک محتوا", "operationId": "c263cb662850f56704354b0ce6536f9a", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CommentStoreRequest"}}}}, "responses": {"201": {"description": "نظر با موفقیت ثبت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/comments/{id}": {"delete": {"tags": ["Comments"], "summary": "حذف یک نظر", "operationId": "11d92dc1008903ddad4ae4738bfedad2", "parameters": [{"name": "id", "in": "path", "description": "شناسه نظر جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "نظر با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "نظر مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/comments/{id}/like": {"post": {"tags": ["Comments"], "summary": "ثبت پسند برای یک نظر", "operationId": "0963ec6f9bc60d76b3ce506dd18e30a9", "parameters": [{"name": "id", "in": "path", "description": "شناسه نظر", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "پسند با موفقیت ثبت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "نظر مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Comments"], "summary": "حذف پسند از یک نظر", "operationId": "0e2ffcdaaee15a2e5de936ec09d41bd9", "parameters": [{"name": "id", "in": "path", "description": "شناسه نظر", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "پسند با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "نظر مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/search": {"get": {"tags": ["Search"], "summary": "جستجوی سراسری (کاربران و پست‌های خوراک) به همراه صفحه‌بندی", "operationId": "e41c8d13450875e9c85f7366a3df3c8f", "parameters": [{"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/searchListType"}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}], "responses": {"200": {"description": "نتایج جستجو با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"properties": {"searched_value": {"type": "string"}, "sections": {"description": "نتایج گروه‌بندی شده بر اساس بخش؛ هر کلید (users, posts, ...) آرایه‌ای از SearchItemResource است", "properties": {"users": {"type": "array", "items": {"$ref": "#/components/schemas/SearchItemResource"}}, "posts": {"type": "array", "items": {"$ref": "#/components/schemas/SearchItemResource"}}}, "type": "object"}}, "type": "object"}}, "type": "object"}]}}}}, "403": {"description": "دسترسی به جستجو وجود ندارد"}}, "security": [{"bearerAuth": []}]}}, "/v1/mentions/suggestions": {"get": {"tags": ["Mentions"], "summary": "پیشنهاد کاربران قابل منشن برای کاربر جاری (دوستان و اعضای گروه)", "operationId": "76b3db7a47def60b85ee8a5c8901f81d", "parameters": [{"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/mentionSuggestionContext"}], "responses": {"200": {"description": "لیست پیشنهادهای منشن با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/MentionSuggestionResource"}}}, "type": "object"}]}}}}, "403": {"description": "برای دریافت پیشنهاد منشن باید وارد شوید"}}, "security": [{"bearerAuth": []}]}}, "/v1/privacy/settings": {"get": {"tags": ["Privacy"], "summary": "دریافت تنظیمات حریم خصوصی کاربر جاری", "operationId": "8426649b159847369af24b6df27f3e9c", "responses": {"200": {"description": "تنظیمات حریم خصوصی با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/PrivacySettingResource"}}}, "type": "object"}]}}}}, "404": {"description": "پلاگین حریم خصوصی فعال نیست"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Privacy"], "summary": "بروزرسانی تنظیمات حریم خصوصی کاربر جاری", "operationId": "3f965010745743a12fd1702a64e0e588", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PrivacySettingsRequest"}}}}, "responses": {"200": {"description": "تنظیمات حریم خصوصی با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "پلاگین حریم خصوصی فعال نیست"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/feed": {"get": {"tags": ["Feed"], "summary": "دریافت فید خبری (داشبورد، پروفایل کاربر، گروه یا کل سایت — به همراه صفحه‌بندی)", "operationId": "0188fafe33782adc4ab63081bf79ae37", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/feedListFeedType"}, {"$ref": "#/components/parameters/feedListEntityId"}, {"$ref": "#/components/parameters/feedListStartTime"}, {"$ref": "#/components/parameters/feedListEndTime"}, {"$ref": "#/components/parameters/feedListEntityType"}, {"$ref": "#/components/parameters/feedListAuthorUsername"}, {"$ref": "#/components/parameters/feedListSortByCreatedAt"}], "responses": {"200": {"description": "فید خبری با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/FeedResource"}}}, "type": "object"}]}}}}, "403": {"description": "دسترسی به این فید مجاز نیست", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}, "post": {"tags": ["Feed"], "summary": "ارسال پست جدید روی فید (دیوار خود، دیوار کاربر دیگر یا گروه)", "operationId": "8c5bea3100223f6a383c60f667f60636", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FeedStoreRequest"}}}}, "responses": {"201": {"description": "پست با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "پست با موفقیت ایجاد شد"}, "data": {"$ref": "#/components/schemas/FeedResource"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/feed/{id}": {"get": {"tags": ["Feed"], "summary": "دریافت اطلاعات یک پست خاص از فید خبری", "operationId": "4dd5992220e83643c40e115ed8aeb4ac", "parameters": [{"name": "id", "in": "path", "description": "شناسه اکشن فید (feed action id)", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات پست با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FeedResource"}}}}, "404": {"description": "پست مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Feed"], "summary": "حذف کامل یک پست از فید", "operationId": "fec84dfd4c95eca3e60fd13159f3dda2", "parameters": [{"name": "id", "in": "path", "description": "شناسه اکشن فید جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "پست با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "پست مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Feed"], "summary": "ویرایش متن یک پست فید", "operationId": "b467c245dda7d3e16a14e88397dd52db", "parameters": [{"name": "id", "in": "path", "description": "شناسه اکشن فید جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FeedUpdateRequest"}}}}, "responses": {"200": {"description": "پست با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "پست مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/feed/{id}/like": {"post": {"tags": ["Feed"], "summary": "لایک (vote=1) یا دیس‌لایک (vote=-1) یک پست فید", "operationId": "2a7c9c96cc17d04032aae9387314db36", "parameters": [{"name": "id", "in": "path", "description": "شناسه اکشن فید", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": false, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FeedLikeRequest"}}}}, "responses": {"200": {"description": "لایک با موفقیت ثبت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"properties": {"id": {"type": "integer"}, "like_count": {"type": "integer"}, "dislike_count": {"type": "integer"}, "feed_id": {"type": "integer", "nullable": true}, "feed_type": {"type": "string", "nullable": true}}, "type": "object"}}, "type": "object"}]}}}}, "404": {"description": "پست مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Feed"], "summary": "حذف لایک/دیس‌لایک کاربر جاری از یک پست فید", "operationId": "7b02e31bf069ca8932e32b680fd9b058", "parameters": [{"name": "id", "in": "path", "description": "شناسه اکشن فید", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "لایک با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "پست مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/feed/{id}/forward": {"post": {"tags": ["Feed"], "summary": "بازنشر (فوروارد) یک پست فید روی دیوار کاربر(ان) یا گروه(ها)", "operationId": "ee198b4f9279b9dab200bcaa79da0159", "parameters": [{"name": "id", "in": "path", "description": "شناسه اکشن فید مبدا (فقط user-status و groups-status قابل بازنشر است)", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FeedForwardRequest"}}}}, "responses": {"200": {"description": "پست با موفقیت بازنشر شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"oneOf": [{"$ref": "#/components/schemas/FeedResource"}], "nullable": true}}, "type": "object"}]}}}}, "403": {"description": "بازنشر این پست مجاز نیست"}, "404": {"description": "پست مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/feed/{id}/privacy": {"patch": {"tags": ["Feed"], "summary": "تغییر سطح حریم خصوصی یک پست فید", "operationId": "1ddb7e7e8465f146ec068373db3e365a", "parameters": [{"name": "id", "in": "path", "description": "شناسه اکشن فید", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/FeedPrivacyRequest"}}}}, "responses": {"200": {"description": "حریم خصوصی پست با موفقیت تغییر کرد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "تغییر حریم خصوصی این پست مجاز نیست"}, "404": {"description": "پست مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups": {"get": {"tags": ["Groups"], "summary": "دریافت لیست گروه‌ها (به همراه صفحه‌بندی)", "operationId": "7bb20bc4217f9aa49cda288c262f0254", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/groupListMy"}, {"$ref": "#/components/parameters/groupListUserUsername"}, {"$ref": "#/components/parameters/groupListMemberId"}, {"$ref": "#/components/parameters/groupListStatus"}, {"$ref": "#/components/parameters/groupListSortByCreatedAt"}, {"$ref": "#/components/parameters/groupListSortByLastActivityAt"}], "responses": {"200": {"description": "لیست گروه‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/GroupResource"}}}, "type": "object"}]}}}}}}, "post": {"tags": ["Groups"], "summary": "ایجاد گروه جدید", "operationId": "b5f9eb0915d7fc340c1f89834c396dcc", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupStoreRequest"}}}}, "responses": {"201": {"description": "گروه با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "گروه با موفقیت ایجاد شد"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups/{id}": {"get": {"tags": ["Groups"], "summary": "دریافت اطلاعات یک گروه خاص", "operationId": "1a2d22f726527fe1fd780e5aabd8ab2c", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گروه", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات گروه با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupResource"}}}}, "404": {"description": "گروه مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "delete": {"tags": ["Groups"], "summary": "حذف کامل گروه", "operationId": "188727ac1220b601bc99f60ccbf3a1b4", "parameters": [{"name": "id", "in": "path", "description": "شناسه گروه جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "گروه با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گروه مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Groups"], "summary": "ویرایش اطلاعات گروه", "operationId": "9fc327d30d514edfecf77b19014dcd24", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گروه جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupUpdateRequest"}}}}, "responses": {"200": {"description": "گروه با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گروه مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups/{id}/join": {"post": {"tags": ["Groups"], "summary": "عضویت در گروه", "operationId": "b8a0bb12534e3cb7112774b194e5db31", "parameters": [{"name": "id", "in": "path", "description": "شناسه گروه جهت عضویت", "required": true, "schema": {"type": "integer"}}], "responses": {"201": {"description": "عضویت در گروه با موفقیت انجام شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گروه مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Groups"], "summary": "خروج از گروه", "operationId": "e5739c54806129c583fd9c6613503c37", "parameters": [{"name": "id", "in": "path", "description": "شناسه گروه جهت خروج", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "خروج از گروه با موفقیت انجام شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گروه مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups/{id}/files": {"get": {"tags": ["Groups"], "summary": "دریافت لیست فایل‌های یک گروه (به همراه صفحه‌بندی)", "operationId": "ce0154054c12d333db909fb598a96733", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گروه", "required": true, "schema": {"type": "integer"}}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/groupFileListSortByCreatedAt"}], "responses": {"200": {"description": "لیست فایل‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/GroupFileResource"}}}, "type": "object"}]}}}}, "404": {"description": "گروه مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}, "post": {"tags": ["Groups"], "summary": "بارگذاری فایل جدید در گروه", "operationId": "e28b20b4c3e627b7432d940e2cab907a", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گروه", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"multipart/form-data": {"schema": {"required": ["file"], "properties": {"file": {"description": "فایل مورد نظر جهت بارگذاری", "type": "string", "format": "binary"}, "name": {"description": "نام دلخواه برای فایل (اختیاری)", "type": "string"}}, "type": "object"}}}}, "responses": {"201": {"description": "فایل با موفقیت بارگذاری شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "فایل با موفقیت بارگذاری شد"}}, "type": "object"}]}}}}, "404": {"description": "گروه مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups/files/{fileId}": {"delete": {"tags": ["Groups"], "summary": "حذف فایل گروه", "operationId": "4ab9bf2c81f08f7e9386ae856157c72e", "parameters": [{"name": "fileId", "in": "path", "description": "شناسه پیوست فایل جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "فایل با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "فایل مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups/{id}/members": {"get": {"tags": ["Groups"], "summary": "دریافت لیست اعضای یک گروه (به همراه صفحه‌بندی)", "operationId": "f643b2fe0815dbbe1e5b9f458f1e972b", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گروه", "required": true, "schema": {"type": "integer"}}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/groupMemberListSortByJoinedAt"}], "responses": {"200": {"description": "لیست اعضا با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/GroupMemberResource"}}}, "type": "object"}]}}}}, "404": {"description": "گروه مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}}}, "/v1/groups/{id}/invites": {"post": {"tags": ["Groups"], "summary": "دعوت کاربر به گروه", "operationId": "33aeadfd29044206e3848a217c003f0b", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گروه", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupInviteStoreRequest"}}}}, "responses": {"201": {"description": "دعوت‌نامه با موفقیت ارسال شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "دعوت‌نامه با موفقیت ارسال شد"}}, "type": "object"}]}}}}, "404": {"description": "گروه مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups/invites/accept": {"post": {"tags": ["Groups"], "summary": "پذیرش دعوت‌نامه گروه", "operationId": "1280cd404446a48cb69c21797493e88b", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupInviteAcceptRequest"}}}}, "responses": {"200": {"description": "دعوت‌نامه با موفقیت پذیرفته شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "دعوت‌نامه مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups/{id}/managers": {"post": {"tags": ["Groups"], "summary": "افزودن مدیر به گروه", "operationId": "1140b2d322588beab9dcdd9526c39de2", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گروه", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/GroupManagerStoreRequest"}}}}, "responses": {"201": {"description": "مدیر گروه با موفقیت اضافه شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گروه مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/groups/{id}/managers/{userId}": {"delete": {"tags": ["Groups"], "summary": "حذف مدیر گروه", "operationId": "a78eda80d90f840ed89bc24b0c3bdf1e", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گروه", "required": true, "schema": {"type": "integer"}}, {"name": "userId", "in": "path", "description": "شناسه کاربری که باید از مدیریت حذف شود", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "مدیر گروه با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گروه مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}}, "/v1/conversations": {"get": {"tags": ["Mailbox"], "summary": "دریافت لیست گفتگوهای کاربر جاری (به همراه صفحه‌بندی)", "operationId": "cd59df11140ac6c30b1de8623604a7f4", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/conversationListMode"}, {"$ref": "#/components/parameters/conversationListSortByLastMessageAt"}], "responses": {"200": {"description": "لیست گفتگوها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ConversationResource"}}}, "type": "object"}]}}}}, "403": {"description": "دسترسی غیرمجاز", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/conversations/search": {"get": {"tags": ["Mailbox"], "summary": "جستجو در پیام‌های گفتگوها (کل گفتگوها یا محدود به یک گفتگو)", "operationId": "8b14726633de692c3e72c0dc45ad1193", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/conversationSearchQuery"}, {"$ref": "#/components/parameters/conversationSearchConversationId"}, {"$ref": "#/components/parameters/conversationSearchOpponentId"}], "responses": {"200": {"description": "نتایج جستجو با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/MessageResource"}}}, "type": "object"}]}}}}, "404": {"description": "گفتگوی مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/conversations/forward-targets": {"get": {"tags": ["Mailbox"], "summary": "دریافت لیست کاربران قابل انتخاب برای هدایت پیام (طرف‌های گفتگو + دوستان)", "operationId": "f6ba1f814c03958299e280e24504fb0e", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}], "responses": {"200": {"description": "لیست کاربران مقصد با موفقیت دریافت شد", "content": {"application/json": {"schema": {"properties": {"conversations_users": {"type": "array", "items": {"$ref": "#/components/schemas/MemberResource"}}, "friends": {"type": "array", "items": {"$ref": "#/components/schemas/MemberResource"}}}, "type": "object"}}}}, "403": {"description": "دسترسی غیرمجاز", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/conversations/{id}": {"get": {"tags": ["Mailbox"], "summary": "دریافت یک گفتگو به همراه پیام‌های آن (خواندن گفتگو پیام‌های خوانده‌نشده را خوانده‌شده می‌کند)", "operationId": "22946eff97cbaeb4eef0eb0dce51aa8f", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گفتگو", "required": true, "schema": {"type": "integer"}}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/conversationShowBeforeId"}], "responses": {"200": {"description": "اطلاعات گفتگو با موفقیت دریافت شد", "content": {"application/json": {"schema": {"properties": {"conversation": {"$ref": "#/components/schemas/ConversationResource"}, "messages": {"type": "array", "items": {"$ref": "#/components/schemas/MessageResource"}}}, "type": "object"}}}}, "403": {"description": "شما عضو این گفتگو نیستید", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "404": {"description": "گفتگوی مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["Mailbox"], "summary": "پاک کردن گفتگو برای کاربر جاری (تاریخچه سمت مقابل حفظ می‌شود)", "operationId": "0dd263d2f4267506ee68d502da5c3506", "parameters": [{"name": "id", "in": "path", "description": "شناسه گفتگو جهت پاک کردن", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "گفتگو با موفقیت پاک شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "شما عضو این گفتگو نیستید", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "404": {"description": "گفتگوی مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/conversations/{id}/media": {"get": {"tags": ["Mailbox"], "summary": "دریافت رسانه‌های (پیوست‌های) یک گفتگو با فیلتر اختیاری photo | video", "operationId": "e138d8eea7925caf5b2e3593f24761ae", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گفتگو", "required": true, "schema": {"type": "integer"}}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/conversationMediaType"}], "responses": {"200": {"description": "لیست رسانه‌های گفتگو با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/MessageResource"}}}, "type": "object"}]}}}}, "404": {"description": "گفتگوی مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/conversations/{id}/read": {"post": {"tags": ["Mailbox"], "summary": "علامت‌گذاری همه پیام‌های خوانده‌نشده گفتگو به عنوان خوانده‌شده", "operationId": "e321d3b74437e3cfcd3b77b42c3cbb9f", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گفتگو", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "گفتگو با موفقیت خوانده‌شده علامت خورد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گفتگوی مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/conversations/{id}/mute": {"post": {"tags": ["Mailbox"], "summary": "بی‌صدا کردن گفتگو برای کاربر جاری", "operationId": "1d52b0968518fc8366d38fe4fabeac1b", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گفتگو", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "گفتگو با موفقیت بی‌صدا شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گفتگوی مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/conversations/{id}/unmute": {"post": {"tags": ["Mailbox"], "summary": "باصدا کردن (خروج از حالت بی‌صدا) گفتگو برای کاربر جاری", "operationId": "84710460002fa56bc3187114ed7be2c9", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد گفتگو", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "گفتگو با موفقیت از حالت بی‌صدا خارج شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "گفتگوی مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/messages": {"post": {"tags": ["Mailbox"], "summary": "ارسال پیام جدید به یک کاربر (opponent_id) یا گفتگوی موجود (conversation_id)", "operationId": "c69ff6eac9763cf09fee8c9ed8f3d672", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MessageStoreRequest"}}}}, "responses": {"201": {"description": "پیام با موفقیت ارسال شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "پیام با موفقیت ارسال شد"}, "data": {"$ref": "#/components/schemas/MessageResource"}}, "type": "object"}]}}}}, "403": {"description": "ارسال پیام امکان‌پذیر نیست", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "404": {"description": "کاربر یا گفتگوی مقصد یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/messages/{id}": {"delete": {"tags": ["Mailbox"], "summary": "حذف یکی از پیام‌های کاربر جاری", "operationId": "2a07bf83992ee11cbc57286bb1cad588", "parameters": [{"name": "id", "in": "path", "description": "شناسه پیام جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "پیام با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "403": {"description": "فقط فرستنده می‌تواند پیام را حذف کند", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "404": {"description": "پیام مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["Mailbox"], "summary": "ویرایش متن یکی از پیام‌های کاربر جاری", "operationId": "e1dbce99138b1a7a7859fb9905072aa6", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد پیام جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MessageUpdateRequest"}}}}, "responses": {"200": {"description": "پیام با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"$ref": "#/components/schemas/MessageResource"}}, "type": "object"}]}}}}, "403": {"description": "فقط فرستنده می‌تواند پیام را ویرایش کند", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "404": {"description": "پیام مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/messages/{id}/forward": {"post": {"tags": ["Mailbox"], "summary": "هدایت (forward) یک پیام به یک یا چند کاربر دیگر", "operationId": "84797566eb98393a813cd57eaf365ab7", "parameters": [{"name": "id", "in": "path", "description": "شناسه پیام جهت هدایت", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MessageForwardRequest"}}}}, "responses": {"201": {"description": "پیام با موفقیت هدایت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "پیام با موفقیت هدایت شد"}, "data": {"type": "array", "items": {"$ref": "#/components/schemas/MessageResource"}}}, "type": "object"}]}}}}, "403": {"description": "فقط طرفین گفتگو می‌توانند پیام را هدایت کنند", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "404": {"description": "پیام یا کاربران مقصد یافت نشدند", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/landing-pages": {"get": {"tags": ["LandingPages"], "summary": "دریافت لیست صفحات فرود (به همراه صفحه‌بندی)", "operationId": "5e1efbb6063faf969227deeb63a306cc", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/search"}, {"$ref": "#/components/parameters/landingPageListIsActive"}, {"$ref": "#/components/parameters/landingPageListAdminId"}, {"$ref": "#/components/parameters/landingPageListSortByCreatedAt"}], "responses": {"200": {"description": "لیست صفحات فرود با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/LandingPageResource"}}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}, "post": {"tags": ["LandingPages"], "summary": "ایجاد صفحه فرود جدید", "operationId": "73dc1e1c98288ccb9a17b62673eeac42", "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LandingPageStoreRequest"}}}}, "responses": {"201": {"description": "صفحه فرود با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "صفحه فرود با موفقیت ایجاد شد"}, "data": {"$ref": "#/components/schemas/LandingPageResource"}}, "type": "object"}]}}}}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/landing-pages/{id}": {"get": {"tags": ["LandingPages"], "summary": "دریافت اطلاعات یک صفحه فرود خاص", "operationId": "eafcb612624b905b4ff2815bec6a9195", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد صفحه فرود", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات صفحه فرود با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LandingPageResource"}}}}, "404": {"description": "صفحه فرود مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["LandingPages"], "summary": "حذف کامل صفحه فرود", "operationId": "46a1a821caeba02050e1bbfd819e6364", "parameters": [{"name": "id", "in": "path", "description": "شناسه صفحه فرود جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "صفحه فرود با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "صفحه فرود مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["LandingPages"], "summary": "ویرایش اطلاعات صفحه فرود", "operationId": "baf6c18a8d3508485440104396ac440e", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد صفحه فرود جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LandingPageUpdateRequest"}}}}, "responses": {"200": {"description": "صفحه فرود با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "صفحه فرود مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/landing-pages/{id}/sections": {"get": {"tags": ["LandingSections"], "summary": "دریافت لیست بخش‌های یک صفحه فرود", "operationId": "1b53b156bfae0ebe8e07c82a289f2aae", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد صفحه فرود", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "لیست بخش‌های صفحه فرود با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/LandingSectionResource"}}}, "type": "object"}]}}}}, "404": {"description": "صفحه فرود مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}, "post": {"tags": ["LandingSections"], "summary": "ایجاد بخش جدید برای صفحه فرود", "operationId": "d4c2b345f050769ecc203bc477260865", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد صفحه فرود", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LandingSectionStoreRequest"}}}}, "responses": {"201": {"description": "بخش صفحه فرود با موفقیت ایجاد شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "بخش صفحه فرود با موفقیت ایجاد شد"}, "data": {"$ref": "#/components/schemas/LandingSectionResource"}}, "type": "object"}]}}}}, "404": {"description": "صفحه فرود مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/landing-sections/{id}": {"get": {"tags": ["LandingSections"], "summary": "دریافت اطلاعات یک بخش صفحه فرود خاص", "operationId": "a1a8426791b54eefa2f364fde92af507", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد بخش صفحه فرود", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات بخش صفحه فرود با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LandingSectionResource"}}}}, "404": {"description": "بخش مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}, "delete": {"tags": ["LandingSections"], "summary": "حذف کامل بخش صفحه فرود", "operationId": "3640eccea8cae16cd2a4c8f96f1f7346", "parameters": [{"name": "id", "in": "path", "description": "شناسه بخش صفحه فرود جهت حذف", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "بخش صفحه فرود با موفقیت حذف شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "بخش مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "patch": {"tags": ["LandingSections"], "summary": "ویرایش اطلاعات بخش صفحه فرود", "operationId": "1df805506c4998b44ec670f4f17245bf", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد بخش صفحه فرود جهت ویرایش", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/LandingSectionUpdateRequest"}}}}, "responses": {"200": {"description": "بخش صفحه فرود با موفقیت بروزرسانی شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseSuccess"}}}}, "404": {"description": "بخش مورد نظر یافت نشد"}, "422": {"description": "اعتبارسنجی داده‌ها با خطا مواجه شد"}}, "security": [{"bearerAuth": []}]}}, "/v1/judgements": {"get": {"tags": ["Judgements"], "summary": "دریافت لیست داوری‌ها (به همراه صفحه‌بندی و انتساب داور جاری)", "operationId": "8b738a6d0a73fe3a654abb681def2ddf", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/judgementListQuizId"}, {"$ref": "#/components/parameters/judgementListStep"}, {"$ref": "#/components/parameters/judgementListType"}, {"$ref": "#/components/parameters/judgementListDone"}, {"$ref": "#/components/parameters/judgementListSortByStep"}, {"$ref": "#/components/parameters/judgementListSortByCreatedAt"}, {"$ref": "#/components/parameters/judgementListSortByStartDate"}], "responses": {"200": {"description": "لیست داوری‌ها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/JudgementResource"}}}, "type": "object"}]}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/judgements/{id}": {"get": {"tags": ["Judgements"], "summary": "دریافت اطلاعات یک داوری به همراه معیارهای مرتب آن و پاسخ‌های داور جاری", "operationId": "731285ce2980f827715a69ee59bfae1f", "parameters": [{"name": "id", "in": "path", "description": "شناسه منحصربفرد داوری", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "اطلاعات داوری با موفقیت دریافت شد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JudgementResource"}}}}, "404": {"description": "داوری مورد نظر یافت نشد", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApiResponseError"}}}}}, "security": [{"bearerAuth": []}]}}, "/v1/judgements/{id}/scores": {"get": {"tags": ["Judgements"], "summary": "دریافت لیست امتیازهای ثبت‌شده داور جاری برای انتساب خود در یک داوری", "operationId": "44c5b2eed8685b4ffcd146ce525d6a0e", "parameters": [{"name": "id", "in": "path", "description": "شناسه داوری", "required": true, "schema": {"type": "integer"}}], "responses": {"200": {"description": "لیست امتیازها با موفقیت دریافت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/JudgementScoreResource"}}}, "type": "object"}]}}}}, "403": {"description": "شما داور این داوری نیستید"}, "404": {"description": "داوری مورد نظر یافت نشد"}}, "security": [{"bearerAuth": []}]}, "post": {"tags": ["Judgements"], "summary": "ثبت (یا بروزرسانی) امتیاز داور جاری برای یک معیار داوری", "operationId": "7a357fd4e7e629180b8115c43c80c5b7", "parameters": [{"name": "id", "in": "path", "description": "شناسه داوری", "required": true, "schema": {"type": "integer"}}], "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/JudgementScoreStoreRequest"}}}}, "responses": {"201": {"description": "امتیاز داوری با موفقیت ثبت شد", "content": {"application/json": {"schema": {"allOf": [{"$ref": "#/components/schemas/ApiResponseSuccess"}, {"properties": {"status_code": {"example": 201}, "message": {"example": "امتیاز داوری با موفقیت ثبت شد"}, "data": {"$ref": "#/components/schemas/JudgementScoreResource"}}, "type": "object"}]}}}}, "4
[...]
